# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Poetry
.poetry/

# Pytest
.pytest_cache/

# Mypy / Ruff / Coverage
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Build artifacts
dist/
build/
*.egg-info/
